<div class="row">
        <div class="col-md-4">
            <div  id="question_view">
            </div>
        </div>
        <div class="col-md-8 tab-content">
                
         <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#table_view" aria-controls="table_view" role="tab" data-toggle="tab">Table View</a></li>
                <li role="presentation"><a href="#map_view" aria-controls="map_view" role="tab" data-toggle="tab">Map View</a></li>

        </ul>

            <div role="tabpanel" class="tab-pane active" id="table_view">
                <div id = "monq_dataset_table">
                    
                </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="map_view">
                <div id = "map_container" style="width: 800px"></div>
            </div>
            
        </div>
    
    </div>